@import "./scss/reset", "./scss/variable";

@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hubballi&family=Poppins:wght@300;400;500;600&display=swap");

body {
  background-color: $backgroundColor;
  font-family: "Amatic SC", cursive;
  height: 100vh;
}

p {
  font-family: "Hubballi", cursive;
}
